html {
	background: #f4ecee;
	/*padding: 15px;*/
}

body {
	color: #522956;
	font-family: "Helvetica", "Tahoma", "Arial", "sans";
	font-weight: lighter;
	margin: 5px;
}

h1 {
	text-align: center;
}
h1, h2, h3 {
	color: #fd7e23;
}

a {
	color: #85286b;
	text-decoration: none;
}
a:hover {
	font-weight: bold;
}

.container {
	background: black;
	color: #f4ecee;
}
#sketch {
	position: static;
	background: black;
}
#controls {
	padding: 1px 30px 1px 30px;
}
